// custom SCSS (or CSS) goes here

html {
    @include fs-5;
  
    scroll-behavior: smooth;
}

.label-grey:not(g) {
    color: $grey-dk-200;
    background-color: $grey-lt-200;
    text-transform: none;
}
  
.label-brown:not(g) {
    color: $brown-300;
    background-color: $brown-000;
    text-transform: none;
}

site-header {
    display: flex;
    // height: 10rem;
    min-height: 10rem;
    align-items: center;
}

@media (min-width: 50rem) {
    .site-header {
      height: 10rem;
      max-height: 10rem;
      border-bottom: 0px solid #eeebee;
    }
}

.site-logo {
    background-position: center center;
    height:5rem;
}